.descriptionBox{
    margin: 40px 20px;
}

.descriptionBox-navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.descriptionBox-nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    max-width: 170px;
    height: 50px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.descriptionBox-nav-link:hover{
    background-color: #f0f0f0;
}

.descriptionBox-nav-link.fade{
    background: #FBFBFB;
    color: #555;
}

.descriptionBox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #DBDBDB;
    padding: 28px;
    padding-bottom: 40px;
    font-size: 14px;
}


@media (min-width: 768px) {
    .descriptionBox {
        margin: 80px 100px; 
    }

    .descriptionBox-nav-link {
        width: 170px; 
        height: 70px; 
    }

    .descriptionBox-description {
        padding: 48px;
        padding-bottom: 70px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .descriptionBox {
        margin: 120px 170px; 
    }
}
